/* Mathikn >
mcgraw > cornelsen */
/* Fonts */
@font-face {
    font-family: 'Source Serif Pro';
    src: url('fonts/SourceSerifPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url('fonts/SourceSerifPro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('fonts/SourceSerifPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url('fonts/SourceSerifPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('fonts/SourceSerifPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('fonts/SourceSerifPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}


/**----------------------------------MIRAR COLORES_COURSETAG------------------------------------**/
.coursetag_nivelk1 {
	--colorppal: #00AEEF;
}

.coursetag_nivelk2 {
	--colorppal: #59BB5D;
}

.coursetag_nivelk3 {
	--colorppal: #5D040A;
}


.coursetag_nivelk1 #actividad .carousel-inner .item-container {
    background-image: none;
    max-width: 1080px;
    margin: 20px auto 30px;
    padding: 0px;
    padding-bottom: 90px;
    position: relative;
    border-top: 4px solid transparent;
    border-image: linear-gradient(to bottom, #5fcaf3, #fff) 1;
}

/**-----------------------------------------------------------------------------------**/

b,
strong {
	font-weight: bold;
}

/* TOC */
#indice .units ul li {
	background: #FFF;
	opacity: 1;
	-moz-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: 3px 5px 5px #00000036;
	-webkit-box-shadow: 3px 5px 5px #00000036;
	box-shadow: 3px 5px 5px #00000036;
	margin-bottom: 11px;
}

#indice .units ul li.active:not(.disabled) {
	background: var(--colorppal);
}

body:not(.isTablet) #indice .units ul li:hover:not(.disabled),
 #indice .units ul li:focus:not(.disabled) {
	background: var(--colortrans);
}
body #indice .units ul li.active:hover:not(.disabled) {
	background: var(--colorppal);
	color: #FFF;
}

#indice .units ul li a:not(.delete) {
	padding: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
#indice .units ul li a .title {
	padding: 14px 16px;
	color: var(--colorppal);
	-moz-transition: margin-left 0.2s ease-in-out;
	-webkit-transition: margin-left 0.2s ease-in-out;
	transition: margin-left 0.2s ease-in-out;
}
body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover .title {
	color: var(--colorppal);
	margin-left: 30px;
}
body:not(.isTablet) #indice .units ul li.active:not(.disabled) a:hover .title {
	margin-left: 30px;
}

body:not(.isTablet) #indice .units ul li.active:not(.disabled) a .title {
	margin-left: 30px;
	color: #fff;
}

#indice .unit-content .header.default {
	background: var(--colorppal) !important;
}
#indice a:hover,
#indice a:active,
#indice a:focus {
	color: var(--colorppal);
}
#indice .btn-primary {
    color: var(--colorppal);
}
#indice .actividades a:hover {
    color: var(--colorppal);
}
/*--*/

/* MENÚ DESPLEGABLE */
#book-index #indice .units ul li a .title {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}
#book-index #indice .units ul li a:not(.delete) {
    padding: 5px 20px 5px 20px;
    border-bottom: 2px solid var(--colorppal);
    background-color: #e3e3e3;
}
body:not(.isTablet) #book-index #indice .units ul li:not(.disabled) a:hover, #book-index #indice .units ul li.active a {
    background: var(--colorppal);
}
#book-index #indice .units ul li a:hover .title {
    margin: 0;
    font-size: 16px;
    color: #FFF;
}
#book-index .col-main {
    background: var(--colorppal);
}
#book-index #indice .unit-content .content .title-buttons {
    text-align: left;
}
#book-index .units ul li a .title {
    padding: 12px 0px;
}
#book-index #indice .unit-content .content .title-buttons .btn {
    background: #FFF;
    color: var(--colorppal);
    padding: 5px 15px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
#book-index #indice .unit-content .actividades .item {
    padding: 12px 15px;
    background: none;
    color: white;
}
#book-index #indice .unit-content .actividades .item .title {
	color: #FFF;
	font-weight: bold;
}
body:not(.isTablet) #book-index #indice .unit-content .actividades .item:hover,
 #book-index #indice .unit-content .actividades .item.active,
  #book-index #indice .unit-content .actividades .item.current {
    color: #fff;
    background: #0000002e;
}
body:not(.isTablet) #book-index #indice .unit-content .actividades .item:active,
 #book-index #indice .unit-content .actividades .item.active,
  #book-index #indice .unit-content .actividades .item.current {
    background: #0000002e;
}
#book-index #indice .unit-content a {
    color: #fff;
}
#book-index #indice .unit-content a:hover,
   #book-index #indice .unit-content a:active,
	  #book-index #indice .unit-content a:focus {
    color: #fff;
	font-weight: bold;
}

/*General */
#swipeview-slider > div {
	background-color: #eee;
}
#actividad .class_slide {
    padding: 40px 60px 0px;
}
body {
	font-weight: normal;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
}
.texto_curso p {
	line-height: 3.0rem !important;
	margin: 1.5rem 0;
}
#actividad .texto_curso {
	font-size: 1.8rem;
    line-height: 2.8rem !important;
}
#actividad .pregunta .texto_curso {
    font-size: 2.0rem;
}
.slide-wrapper {
	text-align: left;
}

/*Input Blanco*/
.input_blanco .slide_main .html-book input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #fff;
}
#actividad .carousel-inner .item-container {
	background-image: none;
    max-width: 1080px;
    /* -webkit-box-shadow: #00000029 6px 3px 8px; */
    -moz-box-shadow: #00000029 6px 3px 8px;
    /* box-shadow: #00000029 6px 3px 8px; */
    margin: 20px auto 30px;
    padding: 0px;
    padding-bottom: 90px;
    position: relative;
    border-top: 40px solid transparent;
    border-image: linear-gradient(to right, #5fcaf3, #fff) 1;
}

/*logo*/
.content_type_curso_mathink.content_type_clase_mathink   .libro-left ul li .title:before { 
	opacity: 0;
}


/*video*/
.vjs-poster {
	background-color: #fff;
}


/*tamaño enunciado listas*/
#actividad textarea {
    font-size: 2.0rem;
}

/*ENLACE WEB*/
#actividad a,
body:not(.edit) #actividad a:not(.cke_button):not(.zoom_flag_img) {
	color: #1a73e9;
	background-color: transparent;
}
/*--*/

.mathink-navbar h3 {
	width: 75%;
	margin: auto;
	margin-bottom: 15px;
	font-size: 2.0rem;
	font-weight: bold;
}
#actividad .content .header .title {
    margin-bottom: -10px;
}
#actividad .content .header .title h3 {
    margin-top: 0;
    background: none;
    color: #000;
    padding: 0;
    padding-left: 59px;
    font-size: 2.8rem;
    border: 0;
    font-weight: bold;
    border-bottom: 4px solid #000;
    width: fit-content;
    margin-left: -60px;
}
#actividad .content .header .title h3::before{
	content: '';
	display: none;
}

.slide_main input:focus,
.slide_main .form-control:focus {
	border-color: #aaa;
}

.slide_main .html-book input {
    background: #fff;
}

.mathink-navbar {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 50px;
	background: var(--colorppal);
    border-bottom: 0;
    border-top: 4px solid #555;
	
}

.logo-publisher {
	display: none;
	background: none;
}

body.is_app .mathink-navbar {
	-webkit-transition: top 0.5s linear;
	-o-transition: top 0.5s linear;
	-moz-transition: top 0.5s linear;
	transition: top 0.5s linear;
}

body.is_app .mathink-navbar.ocultar {
	top: -136px;
}

.mathink-navbar .navbar-content {
	width: 100%;
	height: 100%;
	padding: 0 20px;
	text-align: center;
}

.mathink-navbar .copyright {
	color: #fff;
	line-height: 5.0rem;
}

.slider-navigator:hover,
.slider-navigator.disabled {
	opacity: .5;
	filter: alpha(opacity=50);
}

#actividad .workspace.chooseblanks .inline-answer a {
	margin: -7px 2px 2px 2px;
}

.bck-i-fullscreen figcaption {
	margin-top: -20px;
	border-bottom: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: transparent;
}

/*Icono audio*/
#actividad .player.audio {
	background-image: url(images/Cornelsen_audio_icon.png);
	color: #fff;
}


#actividad .content img.player,
#actividad .player.audio,
#actividad .player.video,
#help-panel-content .player,
#remote-alert-modal-rich .player {
	height: 25px !important;
	width: 27px;
	display: inline-block;
	background-repeat: no-repeat;
	border-radius: 100%;
	margin: 0 5px;
	vertical-align: sub;
}

.bck-sub-label,
.bck-file-label {
	background: transparent;
	-webkit-border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	border-radius: 5px 5px;
	max-width: 200px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	overflow-wrap: break-word;
}

.bck-file-attach:before {
	content: "\f15b";
    background-image: none;
    background-repeat: no-repeat;
    padding: 1px 0px;
    background-size: contain;
    margin-top: 0;
    position: absolute;
    font-family: 'FontAwesome';
}

.bck-file-attach img {
	display: none;
}

.bck-file-attach span {
	display: inline-block;
	max-width: 75%;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 20px;
}

/* TÍTULOS */
.bck-title {
	border-bottom: 0;
    font-weight: inherit;
    font-size: inherit;
    color: #000;
} 

/*-- Título 1 --*/
.bck-title-1:before {
	display: none;
}
.coursetag_nivelk1 .bck-title-1 {
	color: #000;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 3.0rem;
    margin: 0;
    background-color: var(--colorppal);
    padding: 7px 0 7px 59px;
    margin-left: -60px;
}

.bck-title-2 {
    color: #000;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.0rem;
    margin: 0;
}
.bck-title-3 {
    color: #000;
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 3.0rem;
    margin: 0;
}
.bck-title-4 {
    font-size: 1.6rem;
    margin: 0;
    line-height: 2.0rem;
    color: #999999;
}
.bck-title-5 {
	font-family: 'Source Serif Pro', serif ;
    font-size: 1.8rem;
    margin: 0;
    line-height: 2.8rem;
}


/*Énfasis */
.coursetag_nivelk1 .bck-enfasis {
    color: var(--colorppal);
    font-weight: bold;
}

/*Énfasis 2 */
.bck-enfasis-2 {
    color: var(--colorppal);
    font-weight: bold;
}

/* ---- CAJAS ---*/
.bck-box {
    position: relative;
    max-width: 100%;
    text-align: left;
	background: inherit;
	padding: 20px;
	margin: 15px 0;
}
.bck-box.center {
    text-align: inherit;
}
.texto_curso .bck-box p {
    margin: 0;
}
.bck-box .bck-content {
    padding: inherit;
}

/*Caja 1 */
.bck-box.bck-box-1:before {
	display: none;
}
.bck-box.bck-box-1:after {
	display: none;
}
.bck-box.bck-box-1 {
    margin-top: 15px;
    background: #F8F8F8;
    border: 2px solid #999999;
}
.bck-box-1 > .bck-title {
    border-bottom: 0px solid #eee;
    color: #000000;
    font-size: 2.1rem;
    font-weight: bold;
}
.bck-box.bck-box-1 > .bck-content {
    padding: 0;
}

/* CAJA 2 */
.bck-box.bck-box-2 .bck-title:before {
	display: none;
}
.bck-box.bck-box-2 {
    background: var(--colortrans);
    border: 2px solid var(--colorppal);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: inherit;
    padding: 0;
}
.bck-box.bck-box-2 > .bck-title {
    border: 0;
    font-weight: bold;
    font-size: 2.1rem;
    background-color: var(--colorppal);
    color: #FFF;
    padding: 5px 20px;
}
.bck-box.bck-box-2 > .bck-content {
    border: 0;
    padding: 5px 20px 20px 20px;
}

/*CAJA 3 */
.bck-box.bck-box-3 {
    background-color: #E5E5E5;
    width: calc(100% + 120px);
    margin-left: -60px;
    max-width: none;
    padding: 15px 60px;
}
.bck-box-3 > .bck-title {
    text-align: center;
    font-weight: bold;
}

/*Desplegable*/

/*---*/
/* Content: Dropdown box */
.body_clase #actividad .bck-dropdown {
    width: 100%;
	-moz-box-shadow: 0 3px 7px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0 3px 7px 0px rgb(0 0 0 / 20%);
	box-shadow: 0 3px 7px 0px rgb(0 0 0 / 20%);
	margin: 15px 0;
  }
  
  .body_clase #actividad .bck-dropdown .bck-dropdown-titulo {
    color: #1A73E9;
    cursor: pointer;
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 1.2;
    padding-right: 2.7rem;
  }
  
  .body_clase #actividad .bck-dropdown .bck-dropdown-button {
    padding: 10px;
    border: 0;
    position: relative;
    cursor: pointer;
  }
  
  .body_clase #actividad .bck-dropdown .bck-dropdown-icon {
    position: absolute;
    right: 1.1rem;
    color:#1A73E9;
  }
  
  .body_clase #actividad .bck-dropdown .bck-dropdown-icon>.fa {
    color: #1A73E9;
    border: none;
    padding: 0;
    font-size: 1.6rem;
  }
  
  .body_clase #actividad .bck-dropdown .bck-dropdown-content {
    width: 100%;
    padding: 0 10px 20px 20px;
    background-color: #E5E5E5;
  }
/*---*/
/*Flipbox*/
body:not(.edit) .bck-flipbox {
		margin: 15px 0;
		font-size: 18px;
}

body:not(.edit) .bck-flipbox-face.front {
	border: 0;
    background: white;
    -moz-box-shadow: 0px 5px 9px rgb(26 115 233 / 40%);
    -webkit-box-shadow: 0px 5px 9px rgb(26 115 233 / 40%);
    box-shadow: 0px 5px 9px rgb(26 115 233 / 40%);
    color: #000;
}
body:not(.edit) .bck-flipbox-face.back {
	color: #595959;
    border: 2px solid #1A73E9;
    background: #FFF;
    -moz-box-shadow: 0 0 6px 0px #1a73e94d;
    -webkit-box-shadow: 0 0 6px 0px #1a73e94d;
    box-shadow: 0 0 6px 0px #1a73e94d;
}
body:not(.edit) .front .bck-flipbox-title, body:not(.edit) .front .bck-flipbox-section {
    color: #000;
}
body:not(.edit) .back .bck-flipbox-title,
 body:not(.edit) .back .bck-flipbox-section {
    color: #000;
}
/*----*/

/*Ajuste general listas */
#actividad .texto_curso li,
 #actividad .workspace ul li li {
    position: relative;
    margin-bottom: 10px;
    margin-left: 0;
    line-height: inherit;
}
#actividad .content .texto_curso .bck-ul,
#actividad .content .cke_contents .bck-ul,
 #actividad .content .texto_curso .bck-ol,
 #actividad .content .cke_contents .bck-ol {
    padding: 0;
}
/*LISTAS DESORDENADAS*/
.texto_curso ul li {
	padding-left: 20px;
}

.texto_curso ul li:before,
.workspace ul li ul li:before,
.cke_contents ul li:before,
.preview ul li:before,
.classify-item ul li:before,
#actividad .workspace.multiple-choice .js-item ul li:before,
#actividad .workspace.matching .box ul li:before,
#actividad .workspace.ordenar .js-rank-item ul li:before {
	height: 6px;
	width: 6px;
	background-color: #333;
	color: #333;
	border-radius: 50%;
}

/*lista desordenada por defecto, sin seleccionar estilo para la ul*/

#actividad .content .texto_curso .bck-ul li::before,
#actividad .content .texto_curso ul li::before,
#actividad .content .workspace ul li ul li::before,
#actividad .content .workspace ul li .bck-ul li::before,
#actividad .content .cke_contents ul li .bck-ul li::before,
#actividad .popover-background.shown .popover-content>ul>li::before {
	content: "";
	height: 6px;
	width: 6px;
	background-color: #999999;
	color: #999999;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	margin-top: .6em;
	margin-left: -10px;
}

/*Lista desordenada 2*/
#actividad .content .texto_curso .bck-ul-2 li::before,
#actividad .content .cke_contents .bck-ul-2 li::before,
 #actividad .content .workspace ul li .bck-ul-2 li::before {
    content: "\f061";
    font-family: 'FontAwesome';
    background: none;
    margin-top: 0px;
    margin-left: -15px;
    font-size: 16px;
}

/*General ordenadas*/
#actividad .content .texto_curso .bck-ol li:before,
 #actividad .popover-content .bck-ol li:before,
 #actividad .content .workspace ul li .bck-ol li:before {
	content: counter(bck-li-counter);
    position: relative;
    text-align: left;
    font-size: 1.9rem;
    font-family: 'Source Sans Pro', sans-serif;
	margin-left: -10px; 
	left: 0;
	width: auto;
 }
/*LISTA ORDENADA 1*/
#actividad .content .cke_contents .bck-ol-1 li,
 #actividad .content .cke_contents .bck-ol-1 li,
  #actividad .content .texto_curso .bck-ol-1 li,
   #actividad .popover-content .bck-ol-1 li,
    #actividad .content .workspace ul li .bck-ol-1 li {
    counter-increment: bck-li-counter;
    position: relative;
    z-index: 0;
    font-weight: normal;
    color: #000;
}
#actividad .content .cke_contents .bck-ol-1 li:before,
 #actividad .content .texto_curso .bck-ol-1 li:before,
  #actividad .popover-content .bck-ol-1 li:before,
   #actividad .content .workspace ul li .bck-ol-1 li:before {
	content: counter(bck-li-counter) "";
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	position: relative;
	color: #999999;
	font-size: 2.0rem;
	width: auto;
	margin-top: 0px;
	left: 0;
	top: 0px;
	margin-right: 10px;
	margin-left: 0px;
}

/*Lista ordenada 2*/
#actividad .content .cke_contents .bck-ol-2 li,
#actividad .content .texto_curso .bck-ol-2 li,
 #actividad .popover-content .bck-ol-2 li,
  #actividad .content .workspace ul li .bck-ol-2 li {
    counter-increment: bck-li-counter;
    padding-left: 10px;
    position: relative;
}
#actividad .content .cke_contents ol.bck-ol-2 li:before,
#actividad .content .texto_curso ol.bck-ol-2 li:before,
 #actividad .popover-content ol.bck-ol-2 li:before,
  #actividad .content .workspace ul li ol.bck-ol-2 li:before {
    content: counter(bck-li-counter, lower-alpha) ")";
    padding-right: 0px;
    text-align: center;
    color: #999999;
    font-weight: normal;
    margin-right: 5px;
    top: -2px;
}


/*CAJA POP-UP*/
.info-popover .popover-title:before,
.popover-template .popover-title:before {
	display:none;
}

.info-popover .popover-title,
.popover-template .popover-title {
    position: relative;
    background: none;
    padding-left: 0;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    color: #1A73E9;
    border-bottom: 0;
	font-weight: bold;
    background-color: #FFF;
}
.close-popover {
    color: #1a73e9;
}
.info-template .info-title {
	color: #333;
}
.info-template .info-title.shown {
	margin: 0 3px 12px 0;
}

.info-template .info-title.shown:before {
	display: none;
}


/*icono info*/
.fa-info:before {
    content: "i";
    font-weight: bold;
    font-family: monospace;
    font-size: 1.5rem;
    line-height: 5px;
    color: #1A73E9;
    border: 1px solid;
    border-radius: 50%;
    padding: 1px 6px;
}

#actividad .info-button {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0px;
    -webkit-box-shadow:  0 0 6px #5555553d;
    -moz-box-shadow: 0 0 6px #5555553d;
    box-shadow: 0 0 6px #5555553d;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    color: #1a171b;
    line-height: 38px;
	text-align: center;
	cursor: pointer;
}

/*Pop-up flotante*/
.info-template {
	position: fixed;
	top: 100px;
	right: 0;
	-webkit-transform: translateX(105%);
	-moz-transform: translateX(105%);
	-ms-transform: translateX(105%);
	-o-transform: translateX(105%);
	transform: translateX(105%);
	z-index: 1000;
	width: 135px;
	height: auto;
	-webkit-box-shadow: 0 0 2px #555;
	-moz-box-shadow: 0 0 2px #555;
	box-shadow: 0 0 2px #555;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	background: #fff;
	padding: 15px 5px 0;
	-webkit-transition: all ease-in-out .5s;
	-o-transition: all ease-in-out .5s;
	-moz-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}
.info-template.shown {
	background: #fff;
	-webkit-box-shadow: 0px 5px 9px rgb(26 115 233 / 40%);
	-moz-box-shadow: 0px 5px 9px rgb(26 115 233 / 40%);
	box-shadow: 0px 5px 9px rgb(26 115 233 / 40%);

}
.info-template .info-title.shown {
    margin: 0 3px 12px 0;
    margin: 5px 10px;
    padding: 0px;
    color: #1A73E9;
    font-weight: bold;
    font-size: 14px;
}
/*Dropdown 1*/
.bck-dropdown.bck-dropdown-1 {
	background-color: #9D9D9C;
}

.bck-dropdown-1 .bck-dropdown-icon {
	background-color: #9D9D9C;
}

/*TABS*/
body:not(.edit) .bck-tabs-box {
    background-color: #FFF;
	border: 0;
	-moz-box-shadow: 0 3px 7px #00000026;
	-webkit-box-shadow: 0 3px 7px #00000026;
	box-shadow: 0 3px 7px #00000026;
	margin: 15px;
}
.bck-tabtitles {
	background-color: #fff;
	-moz-transition: none;
	-webkit-transition: none;
	transition: none;
}
.bck-tabtitles:active,
 .bck-tabtitles:focus,
  .bck-tabtitles:hover,
   .bck-tabtitles:visited {
    color: #1A73E9;
    background: white;
    border-bottom: 2px solid #1A73E9;
}
body:not(.edit) .bck-tabcontents .div-contents {
    background-color: #F8F8F8;
}
body:not(.edit) .bck-tabs-box.vertical-tabs .div-contents {
	background-color: #F8F8F8;
}

/*Eliminar el fondo en el vídeo*/
.video-js {
	background-color: transparent;
}
/*Ajuste en imágenes*/
.bck-i-fullscreen-wrapper {
    padding: 0;
}
#actividad .content img {
    margin-top: 0;
}

/*--*/
/*AJUSTES ACTIVIDADES*/
/*inputs respuestas*/
.texto_curso input {
     margin: 5px 0px;
}
.slide_main input {
    color: #1a73e9;
    border-bottom: 2px solid;
    border-radius: 0;
    height: inherit;
    min-height: 29px;
}
    /*Ajuste de los inputs dentro de GRIDS para alinear las columnas*/
    .slide_main .js--row input:last-of-type {
        margin: 0;
        height: inherit;
    }

/*Generales Acierto / Fallo*/
.slide_main input[disabled].respuesta_ok,
 .slide_main input[readonly].respuesta_ok,
 fieldset[disabled] .slide_main input.respuesta_ok,
.slide_main input.respuesta_ok {
    border-color: #57e900;
    background: #D1F3BD;
}

.slide_main input[disabled].respuesta_ko,
 .slide_main input[readonly].respuesta_ko,
 fieldset[disabled] .slide_main input.respuesta_ko,
.slide_main input.respuesta_ko {
    border-color: #FF3626;
    background: #ffddda;
}

/*Respuesta múltiple*/
#actividad .workspace.multiple-choice .opcion {
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0px 5px 4px #00000021;
    -webkit-box-shadow: 0px 5px 4px #00000021;
    box-shadow: 0px 5px 4px #00000021;
    border-left: 3px solid #1a73e9;
}
#actividad .workspace.multiple-choice .opcion figure {
    margin: 0 55px;
}
#actividad .workspace.multiple-choice .opcion.respuesta_over {
    background-color: #1a74e90f;
    -moz-box-shadow: 0 4px 7px #1a73e95e;
    -webkit-box-shadow: 0 4px 7px #1a73e95e;
    box-shadow: 0 4px 7px #1a73e95e;
}
#actividad .workspace.multiple-choice .opcion.respuesta_checked {
    background-color: #1a73e926;
    border-color: #1A73E9;
}
/*Rellenar espacios*/

.fillblanks-draggable-wrapper .response {
    min-width: 80px;
    -moz-box-shadow: 0px 5px 4px #00000021;
    -webkit-box-shadow: 0px 5px 4px #00000021;
    box-shadow: 0px 5px 4px #00000021;
    border: 1px solid #00000021;
    color: #1A73E9;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.fillblanks-draggable-wrapper .response p {
    padding: 9px 10px;
    font-size: inherit;
}
.slide_main input[disabled], 
.slide_main input[readonly],
 fieldset[disabled] .slide_main input {
    background-color: white;
    border-bottom: 2px solid #1A73E9;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #1A73E9;
}
.slide_main input:focus,
 .slide_main .form-control:focus {
    -webkit-box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;
    -moz-box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;
    border-color: #1a73e9;
}
.fillblanks-draggable .drag-over {
    border-top-color: #1a73e95e;
    border-right-color: #1a73e95e;
    border-bottom-color: #1a73e95e;
    border-left-color: #1a73e95e;
    -webkit-box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;
    -moz-box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;	  
}
.form-control {
    color: #1a73e9; 
}
/*Arrastrar imagen a espacios*/
.fillblankimages-draggable .drag-over {
    -webkit-box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;
    -moz-box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;	
}
/*Relacionar*/
#actividad .workspace.matching .opcion {
	-moz-box-shadow: 1px 3px 5px #00000021;
	-webkit-box-shadow: 1px 3px 5px #00000021;
	box-shadow: 1px 3px 5px #00000021;
}
/*Test*/
.checkbox-option label.filter-label:before,
 .slides_averages #cont_checkSelfCorrect label:before, 
 .slides_averages #cont_checkEvaluation label:before,
  .radio-option label.filter-label:before {
  	display: none;
	background-position-y: 150px; 
  }
  .checkbox-option input.filter-checkbox[type="checkbox"]:checked+label.filter-label:before,
   .slides_averages #cont_checkSelfCorrect label:before,
	.slides_averages #cont_checkEvaluation label:before,
	 .radio-option input.filter-radio[type="radio"]:checked+label.filter-label:before {
	 	display: none;
        background-position: 0 125px;
}
.checkbox-option input.filter-checkbox[type="checkbox"],
 .radio-option input.filter-radio[type="radio"],
  input.inputFiltros#checkbox_selfcorrect,
   input.inputFiltros#checkbox_evaluation {
    display: inline-block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 18px;
    cursor: pointer;
}

/*Calculo*/
#actividad .workspace.calculo table {
    border: 0;
}

/*Ordenar*/
#actividad .workspace.ordenar .js-rank-item {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 1px 3px 4px #00000021;
    -webkit-box-shadow: 1px 3px 4px #00000021;
    box-shadow: 1px 3px 4px #00000021;
    border: 1px solid #00000021;
    margin-bottom: 10px;
}
#actividad .workspace.ordenar li>p:hover {
    -webkit-box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;
    -moz-box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 1px 3px 7px #1a73e95e;	
}
/*Verdadero y falso*/
#actividad .workspace.true-false .tf-option {
	display: inline-block;
	margin-left: 50px;
}
.workspace.true-false .radio-option input.filter-radio[type="radio"] {
    margin: 0;
    vertical-align: middle;
}

/*Fill in the blanks*/
.fillblanks-draggable-wrapper {
	text-align: center;
	margin-bottom: 20px;
	margin-left: 0;
}
/*Arrastrar imagen a imagen*/
.slide_main .fillblankimages-draggable .img-input-container {
    border: 2px dotted;
    border-color: #E5E5E5;
}
.fillblankimages-draggable-wrapper .response {
    border: 2px dotted #E5E5E5;
}
.fillblankimages-draggable-wrapper .response.respuesta_over {
    -moz-box-shadow: 0 4px 7px #1a73e95e;
    -webkit-box-shadow: 0 4px 7px #1a73e95e;
    box-shadow: 0 4px 7px #1a73e95e;
    border-color: #1A73E9;
}
/*clasificar*/
#actividad .workspace.clasificar .clasificar_lista>ul {
	display: inline-block;
	min-height: 70px;
	text-align: left;
	margin-left: 47px;
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    background: #fff;
    color: #1A73E9;
    padding: 8px;
    margin: 0 5px;
    -moz-box-shadow: 1px 3px 4px #00000021;
    -webkit-box-shadow: 1px 3px 4px #00000021;
    box-shadow: 1px 3px 4px #00000021;
    border: 1px solid #00000021;
    margin-bottom: 10px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#actividad .workspace.clasificar .clasificar_lista .classify-item:hover {
    -moz-box-shadow: 0 4px 7px #1a73e95e;
    -webkit-box-shadow: 0 4px 7px #1a73e95e;
    box-shadow: 0 4px 7px #1a73e95e;
    border-color: #1A73E9;
}
#actividad .workspace.clasificar .clasificar_conjuntos .classify-item {
    background-color: #FFF;
    -moz-box-shadow: 1px 3px 4px #00000021;
    -webkit-box-shadow: 1px 3px 4px #00000021;
    box-shadow: 1px 3px 4px #00000021;
    border: 1px solid #00000021;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    padding: 5px 20px;
    color: #1a73e9;
}
#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    background: #fff;
    border: 2px dotted #E5E5E5;
    padding: 8px;
}
#actividad .workspace.clasificar .clasificar_conjuntos .group-name-top {
	border-bottom: 0;
}
/* Marcar palabras */
#actividad .markwords-word {
    -webkit-transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
}

#actividad .markwords-word:hover {
    -moz-box-shadow: 0 4px 7px #1a73e95e;
    -webkit-box-shadow: 0 4px 7px #1a73e95e;
    box-shadow: 0 4px 7px #1a73e95e;
    border: 1px solid #1a73e95e;
    padding: 0 5px;
}

#actividad .markword-active {
    border-radius: 0px !important;
    padding: 0 5px !important;
    border: 2px solid #1A73E9 !important;
}

/*Señalar palabras*/
#actividad .workspace.chooseblanks select {
    border-bottom: 1px solid #CCC;
    -moz-box-shadow: 3px 2px 5px #00000021;
    -webkit-box-shadow: 3px 2px 5px #00000021;
    box-shadow: 3px 2px 5px #00000021;
    border: 1px solid #00000021;
    color: #1A73E9;
    padding: 3px 7px;
    margin: 3px 0px;
}
#actividad .workspace.chooseblanks select:hover {
    -moz-box-shadow: 0 4px 7px #1a73e95e;
    -webkit-box-shadow: 0 4px 7px #1a73e95e;
    box-shadow: 0 4px 7px #1a73e95e;
    border-color: #1A73E9;
}
#actividad .workspace.chooseblanks .inline-answer a {
    margin: -7px 2px 2px 2px;
    background-color: #FFF;
    -moz-box-shadow: 1px 3px 4px #00000021;
    -webkit-box-shadow: 1px 3px 4px #00000021;
    box-shadow: 1px 3px 4px #00000021;
	border: 1px solid #00000021;
	font-weight: normal !important;
}
#actividad .workspace.chooseblanks .inline-answer a:hover {
    background-color: #FFF;
    color: #1A73E9;
    -moz-box-shadow: 0 4px 7px #1a73e95e;
    -webkit-box-shadow: 0 4px 7px #1a73e95e;
    box-shadow: 0 4px 7px #1a73e95e;
    border-color: #1A73E9;
}
#actividad .workspace.chooseblanks .inline-answer a.selected:not(.respuesta_ok):not(.respuesta_ko):not(.solucion) {
    background-color: #FFF;
    border-bottom: 2px solid;
}
#actividad a, body:not(.edit) #actividad a:not(.cke_button):not(.zoom_flag_img) {
    color: #1a73e9;
    background-color: transparent;
}
/*tipo test*/
#actividad .workspace.test .checkbox-option label.filter-label,
#actividad .workspace.test .radio-option label.filter-label,
#actividad .workspace.true-false .checkbox-option label.filter-label,
#actividad .workspace.true-false .radio-option label.filter-label {
	font-size: 1.8rem;
	font-weight: 300;
	margin-left: 0px;
	padding: 0 5px;
}
#actividad .workspace.test .respuesta_ko {
    background-color: #ffe1e4;
    border-bottom: 2px solid #ef0c24;
}
#actividad .workspace.test .respuesta_ok {
    background-color: #e7ffd1;
    border-bottom: 2px solid #74d320;
}
/*parejas cartas*/

#actividad .workspace.memory .flip-container p {
	font-size: 1.5rem;
}
#actividad .workspace.memory .front {
    background: #fff url(images/Memory_Back_Conelsen_2021.jpg) center center / auto no-repeat;
}

/*botonera general*/
#actividad .class_slide .review {
	margin-top: 20px;
	text-align: right;
	margin-left: 0px;
}

.btn-danger,
.btn-danger[disabled] {
	color: #fff;
	border-color: transparent;
    border-radius: 25px;

}

.btn-primary,
 .btn-primary.disabled,
 .btn-primary.disabled:focus,
.btn-primary.disabled:hover {
    background-color: #FFF;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
	border-radius: 25px;
	font-weight: 700;
	border: 2px solid #FFF;
    color: #1A73E9;
	-moz-box-shadow: 0px 3px 7px #00000036;
	-webkit-box-shadow: 0px 3px 7px #00000036;
	box-shadow: 0px 3px 7px #00000036;
}

.btn-danger,.btn-danger[disabled] {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 25px;
    border: 2px solid #1A73E9;
    color: #fff;
    background: #1A73E9;
	font-weight: 700;
	-moz-box-shadow: 0px 3px 7px #00000036;
	-webkit-box-shadow: 0px 3px 7px #00000036;
	box-shadow: 0px 3px 7px #00000036;
}
.btn-danger:hover,
 .btn-danger:focus,
  .btn-danger:active,
   .btn-danger.active,
    .open .dropdown-toggle.btn-danger {
    color: #1A73E9;
    background-color: #FFF;
    border-color: #1A73E9;
    -moz-box-shadow: 0 4px 7px #1a73e95e;
    -webkit-box-shadow: 0 4px 7px #1a73e95e;
    box-shadow: 0 4px 7px #1a73e95e;
}

.btn-primary.active,
.btn-primary:not([disabled]):active,
.btn-primary:not([disabled]):focus,
.btn-primary:not([disabled]):hover,
.open .dropdown-toggle.btn-primary {
	background-color: #FFF;
    border-color: #1A73E9;
    color: #1A73E9;
    -moz-box-shadow: 0 4px 7px #1a73e95e;
    -webkit-box-shadow: 0 4px 7px #1a73e95e;
    box-shadow: 0 4px 7px #1a73e95e;
}
#actividad .content .review .attemps span {
    background-color: #1a73e9;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #fff;
    font-size: 2.0rem;
}
.btn-primary[disabled],
.btn-primary[disabled]:focus {
    color: #fff;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
}
.btn-next,.btn-next.disabled,
.btn-next[disabled],
.btn-solution,
.btn-solution.disabled,
.btn-solution[disabled] {
    color: #00bdff;
    background-color: #fff;
    border: 2px solid #00bdff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-weight: 700;
}
.btn-next:active,
.btn-next:focus,
.btn-next:hover,
.btn-solution:active,
.btn-solution:focus,
.btn-solution:hover,
.open .dropdown-toggle.btn-solution {
    color: #fff;
    background-color: #00bdff;
    border-color: transparent;
}

/* modo correcion/revision */
.info-alumno .nombre-alumno {
	max-width: 189px;
}

/**TABLA**/
table,
.bck-table {
	border: 1px solid #ccc;
}

table td,
.bck-table td {
	border-color: #ccc;
}

td,
th {
	padding-left: 10px;
}



/*MEDIA QUERIES */
@media screen and (max-width: 768px) {
#actividad .carousel-inner .class_slide {
    padding: 40px 40px 0px;
}
.bck-box.bck-box-3 {
    width: calc(100% + 80px);
    margin-left: -40px;
    padding: 15px 40px;
}
}

@media only screen 
and (max-width : 480px) {
.texto_curso p {
    line-height: 2.8rem !important;
}
#actividad .texto_curso {
    font-size: 1.8rem;
    line-height: 2.8rem !important;
}
#actividad .pregunta .texto_curso {
    font-size: 1.8rem;
}
#actividad textarea {
    font-size: 1.8rem;
}
#actividad .class_slide .review {
    text-align: center;
}
#actividad .content .header .title h3,
.bck-title-1 {
    font-size: 2.5rem;    
}
.bck-title-2 {
    font-size: 2.2rem;
}
.bck-title-3 {
    font-size: 1.8rem;
}
.puzzle-wrapper {
    width: 100%;
    margin-bottom: 35px;
}
#actividad .workspace.matching .opcion {
    height: auto;
}	
#actividad .workspace.test .respuestas li {
    width: 70%;
}	
}


